<form>
    <ul>
        <li class="form-row">
            <label for="channel">Channel</label>
            <input type="text" placeholder="Channel" class="channel" value="#illucat">
            <button class="join">Join</button>
            <!-- <input type="text" placeholder="Topic" class="topic" value="{{topic}}" disabled> -->
            <!-- <input type="text" placeholder="Username" class="username"> -->
        </li>
    </ul>
    <div class="message-container">
        <ul class="messages"></ul>
    </div>
    <ul class="controls" style="display:none">
        <li class="form-row">
            <input type="text" placeholder="{{placeholder}}" class="msg">
            <button class="send">Send</button>
        </li>
    </ul>
</form>