.hidden {
    display: none;
}

.shown {
    display: block;
}

.disabled {
    opacity: 0.65;
}

.sui {
    background: @color-black;
    color: @color-main-light;
    font-family: @default-font;
    font-size: @default-font-size;

    * {
        margin: 0;
        padding: 0;
        -webkit-tap-highlight-color: transparent;
    }

    > .content {
        padding: @default-padding;
        @media screen and (min-width: 968px) {
            margin-right: auto;
            margin-left: auto;
            width: 50%;
        }
    }
           
    label {
        color: @color-grey;
    }
    
    button {
        background: @color-main;
        color: @color-white;
        font-size: 0.9em;
        border: 0;
        padding: .8em;
        margin: 0 .4em;
    }
}