.Chat {
    .message-container{
        max-height: 200px;
        overflow: auto;
        .messages {
            list-style-type: none;
            .user-label {
                color: lightblue;
                &:before {
                    color: @color-main;
                    content: '<'
                }
                &:after {
                    color: @color-main;
                    content: '>'
                }
            }
            .message-text{
                font-weight: normal;
            }
        }
    }
}