.container {
    background: @color-container;
    padding: @default-padding;
    border-radius: @default-border-radius;
    border: solid 1px @default-border-color;
    margin-bottom: @default-margin-small;
    &.collapsible {
        > .heading {
            margin-bottom: 0;
            &:hover {
                cursor: pointer;
            }
        }
        > .content {
            .hidden;
        }
        &.open {                
            > .heading {
                margin-bottom: @default-margin;
            }
            > .content {
                .shown;
            }
        }
    }
}    