@default-font: Tahoma, Geneva, sans-serif;

@color-black: #000000;
@color-white: #eeeeee;
@color-grey: #b3b2b2;
@color-grey2: #7b7b7b;
@color-main: #097479;
@color-main-light: #0eb8c0;
@color-container: #333333;

@default-padding: 16px;
@default-margin: 16px;
@default-margin-small: 8px;
@default-border-radius: 2px;
@default-border-color: #555555;
@default-font-size: 16px;

@input-text-height: 32px;
@input-checkbox-scale: 2;
