.sui {
    
    input {
        //padding: .5em;
    }
    
    input[type="text"], input[type="password"] {
        height: @input-text-height;
        background: transparent;
        border: none;
        color: @color-white;
        border-bottom: solid 1px @color-main;
        &:focus, &:hover {
            outline: none;
            border-bottom: 1px solid @color-main-light;
        }
    }
    input[type="checkbox"] {
        transform: scale(@input-checkbox-scale);
    }
    input[type="range"] {
        
    }
}