.sui {
    select {
        flex: 5;
        padding: .5em;
        color: @color-white;
        background: none;
        border: none;
        border-bottom: solid 1px @color-main;
        &:focus, &:hover {
            outline: none;
            border: none;
            border-bottom: solid 1px @color-main-light  !important;
        }
        option {
            background: @color-container;
        }
    }
}